<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Comments</title>
<style type="text/css">

</style>
<body>

<article>

<h1>Comments</h1>

{{#.}}
<form method="POST" action="">
<fieldset>
<p>
    <input name="author" value="{{author}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="method" value="PUT">
<p><textarea placeholder="Say something..." name="text">{{text}}</textarea>
<p><input type="submit" name="submit" value="Edit Comment">
</fieldset>
</form>

<form method="POST" action="">
<fieldset>
<p>
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="method" value="DELETE">
    <input type="submit" name="submit" value="Delete Comment">
</fieldset>
</form>
{{/.}}

</div>

</article>
